---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import '@fontsource/inter';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main class='min-h-full bg-zinc-50'>
      <div
        class='min-h-screen bg-white
          mx-0 md:mx-20 lg:mx-40
          px-6 md:px-24 lg:px-36'
      >
        <slot />
      </div>
    </main>
    <style is:global>
      html {
        font-family: 'Inter', system-ui, sans-serif;
        color-scheme: light;
        height: 100%;
      }
      body {
        height: 100%;
      }
    </style>
  </body>
</html>
